<div class="lateralBar">
    <p>Hola {{name}}</p>
</div>

<div class="mainContent">
    <button id="eliminarMensajes">Eliminar</button>
    <table id="mailsTable" style="border: 1px;">
        <theader>
            <th><b>Remitente</b></th>
            <th><b>Asunto</b></th>
        </theader>
        {{#each mail}}
        <tr data-id="{{_id}}">
            <td><input class="chkBox" type="checkbox"></td>
            <td>{{remitent}}</td>
            <td><a href="/mail/{{_id}}">{{subject}}</a></td>
        </tr>
        {{/each}}
    </table>
</div>