<h1>{{mail.subject}}</h1> 
<a href="/mail/r/{{mail._id}}">Responder</a>
<a href="/mail/ra/{{mail._id}}">Responder a todos</a>
<a href="/mail/f/{{mail._id}}">Reenviar</a>
</br>
<b>De: </b><i>{{mail.remitent}}</i>
<hr>
{{{mail.message}}}
<hr>